.intro {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
}

.info {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.links {
    padding-top: 1rem;
}

.fullWidthHeader {
    font-size: 56px;
    color: var(--blue);
  }