.intro {
    display: flex;
    height: 100vh;
}

.info {
    display: flex;
    flex: 1;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.image-container {
    flex: 1;
}